@font-face {
    font-family: 'comic-sans';
    src: url('comicfont.ttf') format('truetype');
}
button {
    font-family: 'comic-sans', sans-serif;
}
body {
    font-family: 'comic-sans';
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    color: #C9D1D9
}
header {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
nav {
    background-color: #333
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #575757
}
.contenido {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
div.headerbotones {
    background-color:#161B22;
    float: left;
    width: 100%;
}
div.botoncabeceradiv {
    float: left;
    width: 25%
}
button.botoncabecera {
    border-radius: 8px;
    border: 10px;
    color: #D4AF37;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #303843;
}